body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* navBar begins */
/* This took me foreeeeeeeeeeeeeeeeeever. Probably way easier in JS or something.*/

header {
    background-color: rgba(85, 121, 119, 0.55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    width: 100%;
    top:0;
}

.logo {
    margin-left: 20px;
    width: 201px;
}

nav {
    position: relative;
    margin-right: 20px;
}

.headermenu {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    justify-content: flex-end;
    list-style: none;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.headeritem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headeritem > a{
    color: white;
}

.headermenu .headeritem ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.headermenu .headeritem:hover > ul,
.headermenu .headeritem ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.headermenu .headeritem ul li {
    clear: both;
    width: 100%;
}


.openKast {
    width: 120px;
    height: 27px;
    margin-left: 80px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 27px;
    text-decoration: none;
}


.linkstyling {
    color: white;
    text-decoration: none;
}

.sublink-styling{
    color: black;
}

/* purpleBackground begins */

#main {
    margin-top: -80px;
    background-image: url("./assets/topPurpleBackground.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    width: 100%;
}

#purplelaptop {
    margin-top: -80px;
    width: 100%;
}

#mainContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin: 0 auto;
    padding: 250px 0 50px 0;
}


#mainContainer > h1 {
    font-weight: 550;
    font-size: 45px;
    letter-spacing: 1.1px;
    margin-top: 50px;
}
#mainContainer > p {
    text-align: center;
    line-height: 30px;
}


.orangeButton {
    background-color: #fe9000;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
}

/* Featured in section */

#featured {
    margin-top: 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#featured > h2 {
    font-size: 28px;
    font-weight: 450;
    margin-top: -90px;
}

.galleryRowOne, .galleryRowTwo {
    margin-top: -50px;
}

.galleryRowOne > img {
    padding: 60px;
}

.galleryRowTwo > img {
    padding: 60px;
}

/* What is Kast? section */

#whatIsKast {
    align-items: center;
    background-image: url("./assets/whatIsKastBlueGreenBG.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 100%;
}

#whatIsKast h2,#whatIsKast p  {
    color: white;
}

#whatIsKast h2 {
    font-size: 48px;
    font-weight: 530;
    letter-spacing: 2.5px;
    margin-top: -20px;
    width: 50
}

#whatIsKast p {
    width: 40%;
    text-align: center;
}

/* TryKastTV section */
/* #tryKastTV is the section name, not the header name */
#tryKastTV {
    align-items: center;
    color: black;
    display:flex;
    flex-direction: column;
    height: 1300px;
    justify-content: center;
    margin-top: -40px;
    width: 100%;
}
/* Try Kast TV Header Text */
#KastH1 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 2.5px;
    width: 50;
}

#tryKastTVparagraph {
    line-height: 30px;
    text-align: center;
    width: 40%;
}

#vimeoVideo {
    height: 550px;
    width: 950px;
}
/* Repeat Try Kast TV text but half sized*/
#KastH2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 70px;
    width: 50;
}

#pOrange {
    color:orange;
    font-size: 15px;
    margin-top: 40px;
}